.results {
  padding: 20px;
  background-color: white;
  border-radius: 30px;
  max-width: 900px;
  display: block;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgb(101, 70, 116);
  text-align: left;
}

.word {
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
}

.pronunciation {
  text-align: center;
}
